a {
    text-decoration: none;
}
h1 {
    font-family: Optima, Helvetica, sans-serif;
    color: #cfe9e7;
    text-align: center;
}
h2 {
	font-family: Optima, Helvetica, sans-serif;
	color: #cfe9e7;
	text-align: center;
}
p {
    font-family: Optima, Helvetica, sans-serif;
    color: #cfe9e7;
}
body {
    background-color: #0f8f85;
    width: 90%;
    margin: 0 auto;}
#footer {
    font-family: Optima, Helvetica, sans-serif;
    margin: 1%;}
li {
    display: inline;
    padding: 0.5em;}
#footer {
    background-color: #3fa59d;
    padding-left: 1000px;
    padding: 0.5em 0;}
.main-container {
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 20px 4px 20px 8px;
    margin: 1%;
    background-color: #3fa59d;
}
.sidenav {
    height: 100%; 
    width: 180px; 
    position: fixed;
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color:#0f8f85; 
    overflow-x: hidden; 
    padding-top: 100px;
}
  
.sidenav a {
    font-family: Optima, Helvetica, sans-serif;
    padding: 20px 4px 20px 8px;
    text-decoration: none;
    font-size: 25px;
    color: #cfe9e7;
    display: block;
}
.everything {
    padding-left: 40px;
    margin: 10%;
}
img {
    float: left;
    padding-left: 10px;
}
